audiosample==2.2.6
# The below version fixes an incompatibility in AudioSample
# If this is nto fixed soon - ditch AudioSample which is probably
# not mature enough for production
av>=12.3.0,<14
bitsandbytes
datasets
faster-whisper
librosa
mutagen
numpy
openai-whisper
pydub
soundfile
torch
torchaudio
transformers==4.48.1
openai
python-dotenv
jiwer
pandas
peft
evaluate
webvtt-py
scipy
tqdm
pydantic
accelerate
boto3
google-cloud-speech
google-cloud-storage
amazon-transcribe
hebrew
runpod
stable_ts==2.18.3